{% extends "page.html.twig" %} 


{% block content %}

<div class="container-fluid w-50" style="margin-top:2em;margin-bottom:2em">


  <a  href={{path('download_principles')}} aria-label="download the principles">
    Download the Principles
  </a>

</div>

{% endblock %}