{% extends "page.html.twig" %} 



{% block javascripts %}
  {# if principles are being edited or added #}
  {% if title == 'Edit, add or remove the Principles Of Dharmism' %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
  {% endif %}
{% endblock javascripts %}



{% block content %}

<div class="container-fluid w-50" style="margin-top:2em;margin-bottom:2em">

  {% if form is defined %}

  
  {{ form_start(form) }} 
    
  {{ form_widget(form) }}

  {{ form_end(form) }}

    
  {% else %}

  {{ message }}
    
  {% endif %}




</div>


{% endblock %}