{% extends "page.html.twig" %} 


{% block content %}

<div class="container-fluid w-50" style="margin-top:2em;margin-bottom:2em">

  {% if form is defined %}

  
  {{ form_start(form) }} 
    
  {{ form_widget(form) }}

  {{ form_end(form) }}

    
  {% else %}

  {{ message }}
    
  {% endif %}




</div>


{% endblock %}