<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--metadata for search engines-->
    <meta name="description" content="{% block description %}Welcome!{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Welcome!{% endblock %}">
    <link rel="canonical" href="">
    <title>{% block title %}Welcome!{% endblock %}</title>


    <!--custom css based on bootstrap--
        <link rel="stylesheet" href="file:///C:/Users/Darryl/Desktop/custombs.css">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-inverse bg-dark justify-content-center">
        <div class="col-md-4 col-sm-3  ">
            <a class="nav-link dropdown-toggle navmenu" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Content of Navigation-what & why
            </a>
            <div class="dropdown-menu w-100 text-center nav-item bg-dark col-md-auto col-sm-auto" aria-labelledby="navbarDropdownMenuLink">
                {% block principlemenu %}
                <a class="dropdown-item nav-link " href="#">
                    <span class="navmenu">Who are you</span>
                </a>
                <a class="dropdown-item nav-link navmenu" href="#">Excitement of Existence</a>
                <a class="dropdown-item nav-link navmenu" href="#">Use of Institutions</a>
                {% endblock %}
            </div>
        </div>


    </nav>

    {% block content %}{% endblock %}


    <footer class="footer text-center">
        <div class="container">


            <span class="text-muted">

                <div>

                    Author: First Last
                </div>

                <div>
                    <a href="">
                        Download
                    </a>

                    <a href="">
                        Contact
                    </a>

                    <a href="">
                        Terms & Policies
                    </a>
                </div>

            </span>

        </div>
    </footer>

    {% block javascripts %}{% endblock %}
</body>

</html>