<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--metadata for search engines-->
    <meta name="description" content= {{ description }} >
    <meta name="keywords" content= {{ keywords }} >
    <link rel="canonical" href={{ app.request.uri }}>
    <title> {{ title }} </title>

    <!--custom css based on bootstrap
        <link rel="stylesheet" href="file:///C:/Users/Darryl/Desktop/custombs.css">-->
    {# {% block css %} {% endblock css%} #}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

    {% block javascripts %}{% endblock %}

        
</head>


<body>

{% block navbar %} 
    {# navbar html should be placed in this block #}
{% endblock navbar %}

    {% block content %}
        {# html for the page content should be placed in this block #}
    {% endblock %}


    {% block footer %}
        <footer class="footer text-center">
            <div class="container">


            <span class="text-muted">

                <div>

                    Author: First Last
                </div>

                <div>
                    <a href="">
                        Download
                    </a>

                    <a href="">
                        Contact
                    </a>

                    <a href="">
                        Terms & Policies
                    </a>
                </div>

            </span>

            </div>
        </footer>

    {% endblock footer %}

</body>

</html>