{% extends "page.html.twig" %} 


{% block content %}

<div class="container-fluid" style="margin-top:2em;margin-bottom:2em">

  {% if content=='contact' %}

  <div class="text-center">
      <h3 style="margin-top:2em">How can you help?</h3>
      </div>

      <ul>
        <li>
          Discuss the principles in your own forums and groups, further developing the principles and possible means of executing and implementing them.
        </li>
        <li>
          Share the principles with those you believe may be interested in them or could benefit from living the principles, or those whose intelligence and experience the principles could benefit from.
        </li>
        <li>
          Contribute translations of these principles into other languages such as Mandarin, Spanish, Hindi, Arabic, Russian, French, German and others.
        </li>
        <li>
          Working on the website. As must be obvious, my own skills are rudimentary but sufficient to keep the site running. For improvements however, I could certainly use help from those with better knowledge and experience in web development.
        </li>
      </ul>

    <p>
      At this moment in space and time, I cannot guarantee a response quickly or at all. I may only respond if contacted in the manner specified below.<br>
      Email nobodyreadsmail@gmail.com.<br>
    </p>
  </div>


    {% elseif content=='share' %}

    <div class="text-center" style="margin-top:2em">

      <p>
          I have kept the principles as generic as I can, as actual implementation in fields from economics to sciences may require a level of knowledge and expertise I do not have. Most important is exposing the principles to individuals more intelligent and experienced that I am. They may think of developing the principles further or of new scenarios to test them. As more individuals apply and try to live the principles, more challenges and questions will be raised, allowing us to further refine the Principles of Dharmism.
      </p>

      <P>
          Share on
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://nobodythinks.net" class="btn btn-default">Facebook</a>
          or
          <a href="https://twitter.com/home?status=http://nobodythinks.net" class="btn btn-default">Twitter</a>
          or
          <a href="http://www.tumblr.com/share/link?url=http://nobodythinks.net" target="blank_" class="btn btn-default">Tumblr</a>
          or
          <a href="whatsapp://send?text=http://nobodythinks.net" data-action="share/whatsapp/share" class="btn btn-default">WhatsApp</a>
          or
          <a href="http://www.reddit.com/submit?url=http://nobodythinks.net&title=Principles%20of%20Dharmism" class="btn btn-default">Reddit</a>
          and any other platform you may use.
      </P>
        
    </div>
  
    {% else %}

  <h3>Terms of Use & Privacy Policy</h3>
  <p style="margin-top:1em">
  Standard Disclaimer:<br>
  All content provided on this website is for informational and educational purposes only. The owner of this website will not be liable for any losses, injuries, hallucinations, curses, superpowers or damages from the display or use of this information.
  </p>
  
  <p style="margin-top:1em">
  Copyrights:<br> 
  All original content on this website is the property of Nothing Nobody.
  
  <p style="margin-top:1em">
  Cookies:<br> 
  This website uses "cookies". A cookie is a piece of data stored on a site visitor's hard drive to help improve your access to the site and identify repeat visitors to the site. For example, when a cookie is used to identify you, you would not have to log in with a password more than once, thereby saving time while on the site. Cookies also enable the site to track and target the interests of our users for the purpose of enhancing their experience on the site. Thanks to cookies, you don't have to worry about logging in on every page or answering any surveys about your experience.
  </p>
  
  <p style="margin-top:1em">
  Information Collection And Use:<br>
  While using this site, you may be asked to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your email address.
  </p>
  
  <p style="margin-top:1em">
  Links:<br>
  This web site may contain links to other sites. Please be aware that the owner of this site is not responsible for the content or privacy practices of other sites. Users are encouraged to be aware when they leave this site and to read the privacy statements of any other site that collects personally identifiable information.
  </p>
  
  <p style="margin-top:1em">
  Updates:<br>
  Our Terms of Use and Privacy Policy may change from time to time and all updates will be posted on this page.
  </p>
  </div>
    
  {% endif %}

</div>


{% endblock %}